<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>assignment1 - Lunch Checker</title>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <p id="helpBlock" class="form-text text-muted">
                Empty item, i.e., , , is not counted.
             </p>
         </div>

         <div class="form-group">
             <button class="btn btn-default" ng-click="evaluate();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{comment}}
         </div>
   </div>

</body>
</html>
