
<div class="row row-content">
    <h2 id="registration-title" class="text-center">Sign up</h2>
    <div class="col-xs-12 col-sm-9" >
        <form class="form-horizontal" name="regForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : regForm.firstname.$error.required && regForm.firstname.$touched }">
                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" ng-model="regCtrl.user.firstname" required>
                <span ng-show="regForm.firstname.$error.required && regForm.firstname.$touched" class="help-block">Your First name is required.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : regForm.lastname.$error.required && regForm.lastname.$touched }">
                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" ng-model="regCtrl.user.lastname" required>
                    <span ng-show="regForm.lastname.$error.required && regForm.lastname.$touched" class="help-block">Your Last name is required.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : regForm.phone.$error.required && regForm.phone.$touched }">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone ###-###-####"
                    ng-model="regCtrl.user.phone"
                    pattern="(\d{3})-(\d{3})-(\d{4})">
                    <span ng-show="regForm.phone.$invalid && regForm.phone.$touched"
                     class="help-block">Phone must be in the format ###-###-####.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : regForm.emailid.$invalid && regForm.emailid.$touched }">
                <label for="emailid" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
                    ng-model="regCtrl.user.emailid" required>
                    <span ng-show="regForm.emailid.$invalid && regForm.emailid.$touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="(regForm.emailid.$invalid ||
                                    regForm.emailid.$error.required) &&
                                    regForm.emailid.$touched"
                         class="help-block">Enter a valid email address.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : regForm.favorite.$error.required && regForm.favorite.$touched }">
                <label for="favorite" class="col-sm-2 control-label">Menu number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="favorite" name="favorite" placeholder="Enter menu number of your favorite dish"
                    ng-model="regCtrl.user.favorite" required>
                    <span ng-show="regForm.favorite.$error.required && regForm.favorite.$touched" class="help-block">Your favorite dish is required.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="regCtrl.submit()">Submit</button>
                    <span ng-show="regCtrl.completed" class="help-block">Your information has been saved.</span>
                </div>
            </div>

        </form>
    </div>
